<!-- index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>페이지 제목</title>
</head>
<body class="grey-bg">
  <%- include ('header.ejs') %>
  <%- include('nav.ejs') %>
 

  <% for (var i = 0; i < posts.length; i++){ %>
    <!-- Create nth content box -->
    <div class="white-bg">
      <div class="list-box">
        
        <h4><a href="/detail/<%= posts[i]._id %>" style="text-decoration : none">
          <%= posts[i].title %>
          <!-- Create nth link using tag <a> -->
          <!-- text-decoration : none  : getting rid of underline -->
        </a>

        <a href="/edit/<%= posts[i]._id %>">
          🔨
        </a>
        <span class="delete" data-id="<%= posts[i]._id %>">🗑️</span>
        </h4>
        <p><%= posts[i].content %></p>
      </div>
      
      
       
    </div> 
    <% } %> 
    <!-- 페이지네이션 -->
    <div class="container">
      <div class="pagination">
        <img src="/arrow.png"><button class="btn" onclick="backBtn()">prev</button>
          <ul>
            
            <% if ( posts.length < 26 ){ %>

                <% for (var i = 1; i < 6 ; i++){ %>
                <li class="link" value="<%= i %>" onclick="activelink()"><a href="/list/<%= i %>" style="text-decoration : none">
                <%= i %></a></li>
                <% } %>

              <% } else{ %> 
                   
                  
                  <% for (var i = 6;  i < 11 ; i++){ %>
                    <li class="link" value="<%= i %>" onclick="activelink()"><a href="/list/<%= i %>" style="text-decoration : none">
                    <%= i %></a></li>
                  <% } %> 

            <% } %>
                 

           
          </ul>
          <button class="btn" onclick="nextBtn()">next</button>
          <img src="/arrow.png" class="rotateImg"> 
      </div>
    </div>
    <script>
      
     
      

    for (let i = 0; i < '<%=posts.length %>'; i++){
      document.querySelectorAll('.delete')[i].addEventListener('click', function(e){
          fetch('/delete?docid='+e.target.dataset.id, {
          method : 'DELETE',
          headers : { 'Content-Type' : 'application/json' },
        })
        .then((r)=>r.text())
        .then((r)=>{e.target.parentElement.parentElement.style.display = 'none'  })
      })
    }

    // 페이지네이션
    let link = document.getElementsByClassName("link");

      let currentValue = 1;

      function activelink(){
        for (l of link){
             l.classList.remove("active")
        }
        event.target.classList.add("active")
        currentValue=event.target.value;
      }
      
      function backBtn() {
        if (currentValue > 1) {
          for (l of link){
             l.classList.remove("active")
        }
        currentValue--;
        link[currentValue-1].classList.add("active")
        }
      }

      function nextBtn() {
        if (currentValue < 6) {
          for (l of link){
             l.classList.remove("active")
        }
        currentValue++;
        link[currentValue-1].classList.add("active")
        }
      }
       
      

    </script>

  </body>
</html>



